{% extends "base.html.twig" %}
   {% block title 'Binevenue sur le blog' %}
    {% block body %} 
 <h1 class="mt-4">{{ post.title}}</h1>
    <p> Par: <em>{{post.author}} - </em>Le: <em><small>{{ post.getFormattedDate() }}</small></em></p>
       <p>{{ post.content }}</p
{% endblock %}